<div class="nav-lateral">
<mat-list class="navegacao">
  <mat-list-item routerLink="/criar">
    <button mat-raised-button color="primary" class="button" type="criar">Criar conjunto</button>
  </mat-list-item>
  <mat-list-item routerLink="/">
    <button mat-raised-button color="primary" class="button" type="criar">Pesquisar</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-raised-button color="primary" class="button" type="criar">Sair</button>
  </mat-list-item>
 </mat-list>
</div>
